@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               This is a practical example about how two users that comes on the same page will be notified one about other
            </p>
        </div>
    </section>
}
<h3>Steps to reproduce:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
       Start one browser( for example , IE) and go to @Html.ActionLink("Edit - 5 ","Edit",new{id=5}) . When asked to authorize, put any user name and password 
        
    </li>

    <li class="two">
        <h5>Second step</h5>
        Start second browser( for example , Firefox/Chrome) and go to @Html.ActionLink("Edit - 5 ","Edit",new{id=5}) . When asked to authorize, put OTHER user name and password 
    </li>

    <li class="three">
        <h5>Result</h5>
        
        You can see 2 users in the page @Html.ActionLink("Edit - 5 ","Edit",new{id=5})
    </li>
</ol>
